[Desktop Entry]
Version=2.0
Name=fitplot
GenericName=Running Visualizer
Comment=Visualize, summarize and analyzer your runs
# environmental file vars + executable + executable arguments
Exec=env STATIC_FILES=/opt/fitplot/nw.package/static/ /opt/fitplot/nw /opt/fitplot/nw.package
Icon=/usr/share/pixmaps/fitplot.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
